python_version >= "3.10"
asttokens
colorama
comm
fastapi
httpcore
httpx
langchain
langchain-core
langchain-openai
langchain-text-splitters
langsmith
openai
pydantic
Pygments
python-dotenv
requests
SQLAlchemy
sqlmodel
typing_extensions
uvicorn